<div class="container container-accounting">
    <h1>{{ title }}</h1>
    {% for bill in allCustomersBills %}
        <div class="card card-accounting">
            {# <p>{{ bill.createdAt|date("d/m/Y") }}</p> #}
            <p>{{ bill }}</p>
            <p></p>
        </div>
    {% endfor %}
</div>