<div class="container container-accounting">
    <h1>{{ title }}</h1>
    <div class="card">

        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam voluptas, magnam commodi mollitia corrupti ratione consequuntur voluptatum fuga saepe quidem, explicabo adipisci reiciendis quaerat iste non sint quibusdam modi asperiores?
        </p>

    </div>
</div>