

    <h1 class='title-name-calendar'>{{customer.firstname}} {{customer.lastname}}</h1>

    <div id="calendar-add-session"></div>

    <div class="wrapper-form-calendar-add-session">
        
        
    </div>

   