<div class="container container-customer">
    <h1>delete customer</h1>
    <div class="card">

        <h2>Do you really want to delete <strong>{{ customerFirstname }} {{ customerLastname }}</strong> from the customers ?</h2>


    </div>
</div>