<div class="container container-statistics">
    <h1>Statistics</h1>
    <div id="chart1">
        <canvas id="test" width="400" height="400"></canvas>
    </div>
    <div class="card">
    </div>
</div>