<div class="container container-statistics">
    <h1>Statistics</h1>
    <div id="charts">
        <canvas height="400" id="day-chart" width="400"></canvas>
        {# <canvas height="400" id="month-chart" width="400"></canvas> #}
        <canvas height="400" id="year-chart" width="400"></canvas>
    </div>
    <div class="card">
        <div id="nbCustomers"></div>
        <div id="nbFlatRates"></div>
        <div id="nbSessionsThisYear"></div>
        <div id="nbSessions"></div>
    </div>
</div>