<div class="container container-statistics">
    <h1>Statistics</h1>
    <div class="card">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas, ratione, harum quod voluptates dolore eum,
            consequuntur atque accusamus omnis optio velit assumenda similique magni vero consequatur ipsa eos
            recusandae laborum.</p>
    </div>
</div>