#navbar-accounting {
    width: 100vw;
    height: 82px;
    background-color: #3E4755;
    font-family: $main-font;

    h1 {
        color: $white-color;
        text-align: center;
        font-family: $main-font;
        font-size: 18px;
        margin: 0;
    }
}

.container-accounting {
    width: 92vw;
    margin: 0 auto;
    height: 75px;

    .card-accounting {
        position: relative;
        border-radius: 3px;
        color: $white-color;
        font-family: $main-font;
        margin-top: 15px;
        background-color: #3C4556;

        
        .bill-left-part {
            display: flex;
            justify-content: space-between;
            
            .fade-away{
                position: relative;
                transition: all 0.5s ease;
            }
            .bill-customer-picture {
                height: 50px;
                width: 50px;
                border-radius: 50%;
            }

            p {
                margin: 0;

                &:nth-child(3) {
                    color: $less-light-color;
                }
            }

            i {
                font-size: 3.5vh;
                &::before {
                    height: 100%;
                    width: 100%;
                }
            }

            .iNormalColor {
                color: $less-light-color;
            }

            .iSelectedColor {
                color: $flash-color;
            }
        }

        .bill-options {
            z-index: 9999999;
            opacity: 0;
            visibility: hidden;
            transition: all 0.5s ease;
            position: absolute;
            top: 45%;
            right: -10%;

            .btn-bill-details,
            .btn-bill-download {
                width: 50%;
                height: 10%;
                font-family: $main-font;
                color: $white-color;
                display: flex;
                flex-direction: column;
                align-items: center;
            }

            .btn-bill-details {
                background-color: #56627C;
            }

            .btn-bill-download {
                background-color: $flash-color;
            }
        }
    }
}