// NAVTOP ACCOUNTNG

#navbar-accounting {
    width: 100vw;
    height: 82px;
    background-color: #3E4755;
    font-family: $main-font;

    #button-search-bill {
        outline: 0;
        background-color: transparent;
        color: $white-color;
        border: none;
        transition: color 0.3s;
        color: $less-light-color;

        i {
            height: 100%;
            width: 100%;
            font-size: 3.5vh;

        }
    }

    #count-bill {
        background-color: $flash-color;
        border-radius: 5px;
        color: $white-color;
        font-size: 10px;
        font-weight: bold;
        text-align: center;
        height: 14px;
        transform: translate(5px, -8px) scale(0.77);
    }

    h1 {
        color: $white-color;
        text-align: center;
        font-family: $main-font;
        font-size: 18px;
        margin: 0;
    }
}

//  CONTENT ACCOUNTING

.container-accounting {
    width: 92vw;
    margin: 0 auto;
    height: 75px;

    .card-accounting {
        position: relative;
        border-radius: 3px;
        color: $white-color;
        font-family: $main-font;
        margin-top: 15px;
        background-color: #3C4556;


        .fade-away {
            position: relative;
            transition: all 0.3s ease;
        }

        .bill-customer-picture {
            height: 50px;
            width: 50px;
            border-radius: 50%;
        }

        p {
            margin: 0;

            &:nth-child(3) {
                color: $less-light-color;
            }
        }

        .bill-customer-name {
            position: absolute;
            top: 10%;
            left: 28%;
            transition: all 0.3s ease;
        }

        .bill-infos {
            position: absolute;
            top: 38%;
            left: 28%;
            transition: all 0.3s ease;
        }

        .three-dots {

            i {
                font-size: 3.5vh;

                &::before {
                    height: 100%;
                    width: 100%;
                }
            }

            .iNormalColor {
                color: $less-light-color;
            }

            .iSelectedColor {
                color: $flash-color;
            }
        }

        .bill-options {
            width: 65%;
            z-index: 9999999;
            opacity: 0;
            visibility: hidden;
            transition: all 0.3s ease;
            position: absolute;
            top: 45%;
            right: -10%;

            .btn-bill-details,
            .btn-bill-download {
                width: 50%;
                height: 10%;
                font-family: $main-font;
                color: $white-color;
                display: flex;
                flex-direction: column;
                align-items: center;
                background-color: #56627C;
            }

            .btn-bill-details {
                border-top-right-radius: 0;
                border-bottom-right-radius: 0;
                border-right: solid $less-light-color 1px;
            }

            .btn-bill-download {
                border-top-left-radius: 0;
                border-bottom-left-radius: 0;
            }
        }
    }
}