.container-customer {

    // Message de confirmation de suppression
    .container-warning {
        z-index: 9999999;
        opacity: 0;
        transition: all 0.3s;
        height: 100vh;
        width: 100vw;
        top: 0;
        left: 0;
        position: fixed;
        display: flex;
        justify-content: center;
        visibility: hidden;
        align-items: center;
        background-color: rgba(0, 0, 0, 0.2);
        font-family: $main-font;
        color: $white-color;

        .wrapper-warning {
            border-radius: 5px;
            background-color: $dark-color;
            height: 150px;
            width: 85%;
            -webkit-box-shadow: 0px 1px 8px -1px rgba(38, 44, 58, 0.781);
            -moz-box-shadow: 0px 1px 8px -1px rgba(38, 44, 58, 0.781);
            box-shadow: 0px 1px 8px -1px rgba(38, 44, 58, 0.781);

            h4 {
                color: $less-light-color;
                text-align: center;
                font-size: 18px;

                #confirm-delete-customer-fullname {
                    color: $white-color;
                }
            }

            #confirm-delete-customer-no,
            #confirm-delete-customer-yes {
                width: 40%;
            }

            #confirm-delete-customer-no {
                background-color: transparent;
                border-color: #55617B;
            }

            #confirm-delete-customer-yes {
                background-color: $flash-color;
                border-color: $flash-color;
            }

        }
    }

    .container-info-customer {

        font-family: $main-font;

        .slide-1-profil-customer {

            .customer-profile-picture {
                height: 100px;
                width: 100px;
                border-radius: 50%;
                background-position: center;
                background-size: cover;
                background-repeat: no-repeat;
                border: solid $flash-color 2px;
            }

            .button-edit-customer-profile {
                border-radius: 50%;
                height: 30px;
                width: 30px;
                padding: 0;
                display: flex;
                justify-content: center;
                align-items: center;
                color: $white-color;
                background-color: $flash-color;
                border: none;

            }

            .main-info-customer,
            .locate-info-customer {

                background-color: #3C4556;
                border-radius: 5px;

                p {

                    color: $less-light-color;

                    span {
                        color: $white-color;
                    }

                    a {
                        color: $flash-color;
                        // font-weight: bold;
                    }

                }
            }
        }

        .slide-2-profil-customer {
            h2 {
                font-size: 23px;
                color: $white-color;
                font-family: $main-font;
                font-weight: lighter;
            }

            #googleMap {
                height: 500px;
                width: 100%;
            }
        }
    }

    .button-delete-customer {
        outline: 0;
        font-family: $main-font;
        background-color: $flash-color;
        color: $white-color;
    }

    .button-edit-customer {
        outline: 0;
        font-family: $main-font;
        background-color: #56627C;
        color: $white-color;
        margin-right: 24px;
    }

    .button-edit-customer:focus,
    .button-delete-customer:focus {
        outline: 0;
    }

    .btn-infobulle-map {
        outline: 0;
        font-family: $main-font;
        background-color: $flash-color;
        color: $white-color;
        border-radius: 5px;
        font-size: 16px;
    }

    .gm-style-iw-c,
    .gm-style-iw-d {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 70px !important;
        overflow: hidden;
    }


}