.lds-dual-ring {
    display: none;
    width: 64px;
    height: 64px;
  }
  .lds-dual-ring:after {
    content: " ";
    display: block;
    width: 146px;
    height: 146px;
    margin: 1px;
    border-radius: 50%;
    border: 15px solid $flash-color;
    border-color: $flash-color transparent $flash-color transparent;
    animation: lds-dual-ring 1.2s linear infinite;
  }
  @keyframes lds-dual-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }