// Formulaire de connexion
.container-fluid-login {

    background-image: url('../../assets/static/bg-login-2.jpg');
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;

    .form-login {
        font-family: $main-font;

        #logo {
            height: 15vh;
        }

        // background-color: $less-dark;
        .wrapper-login {

            min-height: 30vh;

            .input-email,
            .input-password {
                min-height: 60px;
                width: 85vw;
                outline: none;
                color: $white-color;
                border-radius: 5px;
                background-color: transparent;
                border: solid $elem-color 2px;
                transition: all 0.5s;
            }

            .input-email::placeholder,
            .input-password::placeholder {
                color: $less-light-color;
            }

            .input-email {}

            .input-password {}

            .button-connexion {
                color: $white-color;
                background-color: $flash-color;
                width: 65vw;
                min-height: 60px;
                // min-height: 7vh;
                // min-width: 60vw;
                // font-size: 50px;
                // padding-bottom: 12px !important;
                // border-radius: 12px;
                margin-top: 20px;
            }
        }

        // Class animation
        .input-email-error {
            border: red solid 1px;
        }

    }
}