// Formulaire de connexion
.container-fluid-login {

    background-image: url('../../assets/static/bg-login-2.jpg');
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;

    .form-login {
        font-family: $main-font;

        #logo {
            height: 15vh;
        }

        .wrapper-login {

            min-height: 30vh;

            .input-email,
            .input-password {
                min-height: 60px;
                width: 85vw;
                outline: none;
                color: $white-color;
                border-radius: 5px;
                background-color: transparent;
                border: solid $elem-color 2px;
                transition: all 0.5s, border-color 0.6s;
            }

            .input-email::placeholder,
            .input-password::placeholder {
                color: $less-light-color;
            }

            .input-email:focus,
            .input-password:focus {
                border-color: $flash-color;
            }


            .button-connexion {
                color: $white-color;
                background-color: $flash-color;
                width: 65vw;
                min-height: 60px;
                margin-top: 20px;
                transition: transform 0.2s ease-out;
            }

            .button-connexion:focus {
                
            }

            .button-connexion:active {
                filter: grayscale(40%);
                transform: scale(0.95);
            }

        }

        // Class animation
        .input-email-error {
            border: red solid 1px;
        }

    }
}