 #nav-top-customer {
     z-index: 999999;
     position: sticky;
     top: 0;
     left: 0;
     // -webkit-box-shadow: 0px 1px 8px -1px rgba(38, 44, 58, 0.781);
     // -moz-box-shadow: 0px 1px 8px -1px rgba(38, 44, 58, 0.781);
     // box-shadow: 0px 1px 8px -1px rgba(38, 44, 58, 0.781);
     width: 100vw;
     height: 10vh;
     background-color: #3E4755;

     h4 {
         font-size: 14px;
         color: $white-color;
         margin: 0;
         padding: 0;
     }

     button {
         background-color: transparent;
         color: $white-color;
         border: none;
         padding: 15px;

         i {
             height: 100%;
             width: 100%;
             font-size: 18px;

         }
     }
 }