// Formulaire de newsletter
.container-fluid-newsletter {

    // height: 90vh;
    // padding-bottom: 75px;

    .form-newsletter {
        font-family: $main-font;

        .wrapper-fields-newsletter {

            min-height: 58vh;
            margin-top: 10px;

            .input-subject,
            .input-picture {
                outline: none;
                color: $white-color;
                min-height: 60px;
                width: 85vw;
                border-radius: 5px;
                background-color: transparent;
                border: solid $elem-color 2px;
                transition: all 0.5s;
            }

            .input-subject::placeholder,
            .input-picture::placeholder,
            .input-content::placeholder {
                color: $less-light-color;
            }

            .input-subject {}

            .input-picture {
                margin-top: -5px;
            }

            .input-content {
                outline: none;
                color: $white-color;
                width: 85vw;
                height: 150px;
                background-color: transparent;
                border: solid $elem-color 2px;
                transition: all 0.5s;
                border-radius: 0.7vh;
            }

            .button-newsletter-send {
                color: $white-color;
                background-color: $flash-color;
                border-radius: 2px;
                height: 7vh;
                border-radius: 0.7vh;
                margin: 10px;
            }
        }
    }

    .wrapper-title-newsletter {

        color: $white-color;
        font-family: $main-font;

        i {
            font-size: 10vh;

        }

        h2 {
            font-size: 3vh;
        }

        p {
            color: $less-light-color;
            // font-size: 45px;
            // padding-bottom: 30px;
        }

    }
}