.container-statistics {

    // height: 80vh;

    .chart-carousel {
        height: 90%;

        #day-chart {
            height: 250px;
        }

        .slick-track,
        .slick-list {
            height: 100%;
        }



        .wrapper-square-stats {
            height: 17vh;
            width: 70vw;
            margin: 0 auto;

            .square-stats {

                background-color: #404757;
                height: 10vh;
                width: 30vw;
                border-radius: 5px;

                p {
                    color: $less-light-color;
                    margin: 0;
                    font-size: 12px;
                    font-family: $main-font;
                }

                #nbSessionsThisWeek,
                #nbSessionsThisYear,
                #nbSessionsThisDay,
                #nbSessionsThisMonth {
                    letter-spacing: 1px;
                    color: $white-color;
                    // font-weight: bold;
                    font-size: 30px;

                }
            }
        }

    }

}


.slick-dots {
    padding: 5px;
}

.slick-dots li button:before {
    padding-top: 5px;
    font-size: 9px;
    transition: all 0.5s;
    color: $less-light-color;
}

.slick-dots li.slick-active button:before {
    color: $flash-color;
    font-size: 13px;
}