// Google font :
@import url('https://fonts.googleapis.com/css?family=Sawarabi+Gothic');

// Colors : 
$overlay-color   : #404956;
$flash-color     : #E32168;
$white-color     : #EAFFFE;
$dark-color      : #373F4A;
$elem-color      : #444E61;
$light-color     : #B6C8E5;
$less-light-color: #90A1BA;
$less-dark       : #5E6B7C;

// Fonts : 
$main-font : 'Sawarabi Gothic', sans-serif;

// Partials :
@import 'login';
@import 'statistics';
@import 'customers';
@import 'navbar';
@import 'accounting';
@import 'newsletter';
@import 'loader';