<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="stylesheet" href="https://unicons.iconscout.com/release/v0.0.3/css/unicons.css">
        {{ encore_entry_link_tags("app")}}
    </head>
    <body>
        {% block main %}{% endblock %}
        <nav class="navbar">
            <ul class="d-flex justify-content-around align-items-center">
                
                <li class="d-flex justify-content-around align-items-center">
                    <button href="#">
                        <i class='uil uil-arrow-left'></i>
                    </button>
                </li>

                <li class="d-flex justify-content-around align-items-center">
                    <button href="#">
                        <i class='uil uil-chart-pie-alt'></i>
                    </button>
                </li>

                <li class="d-flex justify-content-around align-items-center">
                    <button href="#">
                        <i class='uil uil-usd-circle'></i>
                    </button>
                </li>

                <li class="d-flex justify-content-around align-items-center">
                    <button href="#">
                        <i class='uil uil-user-square'></i>
                    </button>
                </li>

                <li class="d-flex justify-content-around align-items-center">
                    <button href="#">
                        <i class='uil uil-envelope-share'></i>
                    </button>
                </li>

                
            </ul>   
        
        </nav>
        {% block javascripts %}{% endblock %}
        {{ encore_entry_script_tags("app")}}
    </body>
</html>
